.playButton{
    width: 320px;
    height: 70px;
    background-color: rgb(51, 51, 51);

    border-radius: 15px;
    background-color: rgb(12, 104, 40);
    box-shadow: 0 1px 20px rgba(16, 180, 65, 0.936);

    display: flex;
    justify-content: center;
    vertical-align: middle;
    -webkit-user-select: none;
    font-size: 25px;
    transition: all .6s;
}

.playButton:hover{
    box-shadow: 0 1px 60px rgba(16, 180, 65, 0.726);
    background-color: rgb(21, 183, 69);

    width: 340px;
    height: 75px;
    font-size: 30px;
    transform: translateY(-5px);
}

.playButton-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow:  0 1px 25px rgba(255, 255, 255, 0.726);
    font-weight: bold;
    color: #Ffff;
    position: relative;
    top: -1px;

    display: flex;
    vertical-align: middle;
    align-items: center;
}

.playButton-desc{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow:  0 1px 25px rgba(255, 255, 255, 0.726);
    font-weight: bold;
    color: #Ffff;
    position: relative;
    font-size: 15px;
    top: -1px;

    display: flex;
    align-items: center;
}

.playPage{
    margin-top: 25px;
    background-color: rgba(37, 37, 37, 0.699);
    border-radius: 10px;

    height: auto;
    width: 1200px;
    margin: auto;

    padding: 10px;
}

.rdTPlay{
    display: flex;

    transform: translateZ(0);
    vertical-align: middle;
}

.versionImage{

    display: flex;
    background-image: url(../../assets/images/versions/116.png);
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: 50%;
    filter: blur(2px);

    border-radius: 10px;
    width: 1200px !important; 
    height: 300px !important;
}

.buttonContainer{
    margin-top: 10px;
    display: flex;
    align-items: center;
    transform: translateZ(0);
    justify-content: center;

    transform: translateY(-250px);
}

.icon-GEAR{
    display: flex;
    position: relative;

    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../../assets/icons/gear.png);
    width: 15px;
    height: 15px;
    margin-right: 3px;
    top: 2px;
    filter: invert();
}

.verButton{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    display: flex;
    position: relative;
    filter: invert();

    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../../assets/icons/taiko.png);

    width: 60px;
    height: 60px;
}

.account-container{
    margin: 10px;
    gap: 2px;

    display: flex;
    transform: translateZ(0) translateX(0px) translateY(-300px);
    align-items: center;

    justify-content: end;

}

.headIMG{
    background-image: url('https://cravatar.eu/avatar/MignonPetitXelow/50.png');
    background-position: 50%;

    transition: all 1.4s;

    border-radius: 10px;
    width: 50px; height: 50px;
}

.headIMG:hover{
    box-shadow:  0 1px 10px rgba(92, 247, 78, 0.726);
}